<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.gatewayimpl.database.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.wyl.gatewayimpl.database.dataobject.SysConfig">
        <id property="configId" column="config_id" jdbcType="BIGINT"/>
        <result property="configName" column="config_name" jdbcType="VARCHAR"/>
        <result property="configKey" column="config_key" jdbcType="VARCHAR"/>
        <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
        <result property="configType" column="config_type" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id,config_name,config_key,
        config_value,config_type,create_by,
        create_time,update_by,update_time,
        remark
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        where config_id = #{configId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_config
        where  config_id = #{configId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.wyl.gatewayimpl.database.dataobject.SysConfig" useGeneratedKeys="true">
        insert into sys_config
        ( config_id,config_name,config_key
        ,config_value,config_type,create_by
        ,create_time,update_by,update_time
        ,remark)
        values (#{configId,jdbcType=BIGINT},#{configName,jdbcType=VARCHAR},#{configKey,jdbcType=VARCHAR}
        ,#{configValue,jdbcType=VARCHAR},#{configType,jdbcType=CHAR},#{createBy,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP}
        ,#{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.wyl.gatewayimpl.database.dataobject.SysConfig" useGeneratedKeys="true">
        insert into sys_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configId != null">config_id,</if>
            <if test="configName != null">config_name,</if>
            <if test="configKey != null">config_key,</if>
            <if test="configValue != null">config_value,</if>
            <if test="configType != null">config_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configId != null">#{configId,jdbcType=BIGINT},</if>
            <if test="configName != null">#{configName,jdbcType=VARCHAR},</if>
            <if test="configKey != null">#{configKey,jdbcType=VARCHAR},</if>
            <if test="configValue != null">#{configValue,jdbcType=VARCHAR},</if>
            <if test="configType != null">#{configType,jdbcType=CHAR},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wyl.gatewayimpl.database.dataobject.SysConfig">
        update sys_config
        <set>
            <if test="configName != null">
                config_name = #{configName,jdbcType=VARCHAR},
            </if>
            <if test="configKey != null">
                config_key = #{configKey,jdbcType=VARCHAR},
            </if>
            <if test="configValue != null">
                config_value = #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="configType != null">
                config_type = #{configType,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where config_id = #{configId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wyl.gatewayimpl.database.dataobject.SysConfig">
        update sys_config
        set 
            config_name =  #{configName,jdbcType=VARCHAR},
            config_key =  #{configKey,jdbcType=VARCHAR},
            config_value =  #{configValue,jdbcType=VARCHAR},
            config_type =  #{configType,jdbcType=CHAR},
            create_by =  #{createBy,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            remark =  #{remark,jdbcType=VARCHAR}
        where   config_id = #{configId,jdbcType=BIGINT} 
    </update>
    <select id="selectAllBySelective" parameterType="com.wyl.gatewayimpl.database.dataobject.SysConfig"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="configName != null and configName != ''">
                AND config_name like concat('%', #{configName}, '%')
            </if>
            <if test="configType != null and configType != ''">
                AND config_type = #{configType}
            </if>
            <if test="configKey != null and configKey != ''">
                AND config_key like concat('%', #{configKey}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="selectOneBySelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="configKey != null and configKey != ''">
                AND config_key = #{configKey}
            </if>
        </where>
    </select>
</mapper>
